.header{
    display: flex;
    margin-bottom: 20px;
    padding: 7px 20px;
    border-bottom: 1px solid black;
    align-items: center;
    height:65px;
}


a{
    text-decoration: none;
} 

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.logo{
    width: 50px;
}



/* DropdownMenu.css */
@keyframes drop {
    from {

      transform: translateY(-100%);
    }
    to {

      transform: translateY(0);
    }
  }
  
  .header-main-menu-drop {
    display: none; 
    transform: translateY(-100%);
  }
  
  .header-main-menu-drop.open {
    display: block; 
    animation: drop 0.2s ease forwards; 
  }