.tuile-voiture {
    transition: transform 0.3s ease;
    break-inside: avoid;
    margin-bottom: 40px;
    color: black;
}

.tuile-voiture:hover{
    transform: scale(1.03);
    transition: ease-in 0.05s;
}

.info{
    padding: 1vw;
    text-decoration: none;
}
