
 
 .footer {
    background-image: url('../../../public/img/footertire.jpg'); 
    background-size: cover;
    text-align: center; 
    padding: 0px 0; 
    bottom: 0;
    width: 100%;
  
  } 

   .footer-bend{
    
    width: 0;
    height: 0;
    border-top: 200px solid white; /* Taille et couleur du triangle */
    border-left: 200px solid transparent; /* Taille du triangle */
    position: absolute;
    top: 0;
    right: 0;
   }

